@{
    ViewData["Title"] = "Despesa";
}

<div class="container-lg">
    <div class="text-center">
        <h1 class="display-4">Cadastro de Despesa</h1>
    <form>

        <div class="mb-3">
            <label for="exampleInputNumber" class="form-label">ID da Conta</label>
            <input type="number" class="form-control" id="idDespesaInput">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Insira um valor</label>
            <div class="input-group ">
                <span class="input-group-text">R$</span>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" id="despesaInput">
            </div>

        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control" id="despesaDescricao" rows="3"></textarea>
        </div>

        <a class="btn btn-secondary" role="button" asp-controller="Transacoes" asp-action="Transacoes">Voltar</a>
        <a class="btn btn-secondary" role="button" asp-controller="Transacoes" asp-action="Despesa">Voltar</a>

    </form>
</div>

</div>

