@{
    ViewData["Title"] = "Transacoes";
}

<div class="container-lg">
    <div class="text-center">
        <h1 class="display-4">Veja todas as transações</h1>

        <div class="mt-5">
            <a class="btn btn-sucess" role="button" asp-controller="Transacoes" asp-action="Receita">
                Receita
            </a>
            <a class="btn btn-danger" role="button" asp-controller="Transacoes" asp-action="Despesa">
                Despesa
            </a>
        </div>
    </div>

    <div class="position-relative mt-5 ">
        <table class="table position-absolute top-0 start-50 translate-middle-x">
            <thead>
                <tr>
                    <th scope="col">ID da Transação</th>
                    <th scope="col">ID da Conta</th>
                    <th scope="col">Nome da Conta</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Transação</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <th scope="col">1</th>
                    <td>Pedro Soares</td>
                    <td>Vendi o xbox</td>
                    <td>900</td>
                    <td class="table-success">Receita</td>
                </tr>
              
            </tbody>
        </table>
    </div>
</div>
