

@{
    ViewData["Title"] = "Receita";
}

<div class="container-lg">
    <div class="text-center">
        <h1 class="display-4">Cadastro de Receita</h1>

    </div>
    <form>

        <div class="mb-3">
            <label for="exampleInputNumber" class="form-label">ID da Conta</label>
            <input type="number" class="form-control" id="idReceitaInput">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Insira um valor</label>
            <div class="input-group ">
                <span class="input-group-text">R$</span>
                <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" id="receitaInput">
            </div>

        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control" id="receitaDescricao" rows="3"></textarea>
        </div>

        <a class="btn btn-secondary" role="button" asp-controller="Transacoes" asp-action="Transacoes">Voltar</a>
        <a class="btn btn-secondary" role="button" asp-controller="Transacoes" asp-action="Receita">Voltar</a>

    </form>
</div>

</div>
