@model List<PessoaModel>

@{
    ViewData["Title"] = "Ver Contas";
}

<div class="container-lg">
<div class="text-center">
    <h1 class="display-4">Veja o saldo de cada Conta!</h1>

    <div class="mt-5">
        <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Criar">
            Cadastrar Conta
        </a>
    </div>
</div>

    <div class="position-relative mt-5 m-5 ">
    <table class="table position-absolute top-0 start-50 translate-middle-x">
    <thead>
        <tr>
            <th scope="col">ID da Conta</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Receita</th>
            <th scope="col">Despesas</th>
            <th scope="col">Saldo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

                @if (Model !=null && Model.Any())
                {
                    foreach (PessoaModel pessoa in Model)
                    {
                        <tr>
                            <th scope="row">@pessoa.PK_Pessoa</th>
                            <td>@pessoa.Nome</td>
                            <td>@pessoa.Idade</td>
                            <td></td>
                            <td>-100</td>
                            <td>800</td>
                            <td>
                                <a class="btn btn-danger" role="button" asp-route-id="@pessoa.PK_Pessoa" asp-controller="Home" asp-action="ConfirmaDelete">Excluir</a>
                            </td>
                        </tr>
                    }
                }

    </tbody>
</table>
</div>
</div>
